*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Roboto:ital,wght@0,400;1,500;1,900&display=swap');


/*Menu*/
nav{
    width: 100%;
    margin-top: 20px;
    background-color: #ffffff80;
    
 }
 
 header nav div{
    display: flex;
    flex-direction: row;
    justify-content:center;
    
 }
 
 header nav div ul li a {
    color: #146814;
    list-style-type: none;
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    font-weight:500  
 }
 
 header nav div ul{
  margin-bottom: 0;
 }

 .menu > li{
    text-transform:uppercase; /*Esta todo en mayusculas*/
    padding: 30px;    
    display: inline-block;
    border: #5c5c5c;
        
 }
 

 .menu > li a:hover{    
    color: #ffffff;
    font-family:'Roboto', sans-serif;
    background-color:#91C363;    
    transition-duration: 0.5s;
    border-radius: 3px;
    padding: 20px;
 }

 /*FINAL MENU*/
 


/*CSS INDEX*/

.contenedor1{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 10px 60px;
  margin: 0 auto;
  width: 80%;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  color:#5fa71d;
}

.p_texto{
  font-family: 'Roboto', sans-serif;  
  font-size: 20px;
  color:#5c5c5c;
}

.titulitos{
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  color:#5fa71d;
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
}


.contenedor2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  margin: 0 auto;
  width: 80%;
}

.contenedor3{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 10px 60px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.tituloh3 {
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  color:#5fa71d;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
}

.contenedor4{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 10px 60px;
  margin: 0 auto;
  width: 80%;

}

.contenedor4 img:hover{
  transform: scale(1.5);
  opacity: 0.8;
  transition-duration: 0.5s;
}

#logoInsta:hover {
  transform: scale(1.5);
  opacity: 0.8;
  transition-duration: 0.5s;
}


.contenedor5{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px 60px;
  margin: 0 auto;
 }
/*-----css index----*/



/*-----css participar---*/
.titleh3 {
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  color:#133f13;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
}

.contenedor6{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: center;
  gap: 100px;
  padding: 10px 30px;
  margin: 0 auto;
  width: 100%;

}
.parraf1{
  color:#133f13;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;

}

.contenedor6_info{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*------Formulario-----*/ 
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 90px;    
  }
  
  input,
  textarea {
    /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
       Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
    font: 1em sans-serif;
  
    /* Tamaño uniforme del campo de texto */
    width: 300px;
    box-sizing: border-box;
  
    /* Hacer coincidir los bordes del campo del formulario */
    border: 1px solid #999;
  }
  
  textarea {
    /* Alinear los campos de texto multilínea con sus etiquetas */
    vertical-align: top;
  
    /* Proporcionar espacio para escribir texto */
    height: 5em;
  }
  
  .texto {
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(255, 255, 255, 0.863);
    list-style-type: none;
    text-decoration: none;
   margin-top: 20px;
  }
  .texto:hover{
    color:rgba(4, 182, 34, 0.863)
  }

  /*Respuesta en caso que el usuario o contraseña esté mal*/
  .mostrarError{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(235, 107, 107);
    font-size: 14px;
    text-align: center;
    pointer-events: auto;
    pointer-events: auto;
    opacity: 1;
    
  }
  
  .mostrarExito{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(6, 189, 30);
    font-size: 14px;
    text-align: center;
    pointer-events: auto;
    pointer-events: auto;
    opacity: 1;
    
  }
  

  body{
    background-color: #91C363;
  }

  .bodyingresar{
    background-color: #91C363;
  }

  form {
    width: 500px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.863);
    padding: 20px;
    color: #999;
    border-radius: 10px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  input, textarea {
    border: 0;
    outline: none;
    width: 300px;
    
  }

  .form1 {
    border: solid 1px #999999;    
    padding: 15px;
    width: 300px;
    margin: 10px;
  }

  /*Cuando le da click al campo*/
  .form1:focus{    
    border: solid 2px #91C363;
  }

  .tituloFormulario{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #133f13c2;
    text-align: center;
    font-size: 25px;
    margin-top: 30px;

  }

  .form2 {
    width: 500px;
    margin: 20px auto;
    background-color:#133f13c2;
    padding: 20px;
    border-radius: 10px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
   
  }

 /*Cuando le da click al campo*/
 .form2:focus{    
  border: solid 2px #91C363;
}

  .input1 {
    border: solid 1px #999999;    
    padding: 15px;
    width: 300px;
    margin: 10px;
    background-color:#133f13c2;
    border:none;
    border-radius: 10px;
    color: #ffffff;
  }
 

  .btnform {
    padding: 15px;
    margin-top: 10px;
    width: 300px;
    text-align: center;
    background-color: #91C363;
    border: none;
    border-radius: 5px;  
  }
  
  .btnform:hover {
    background-color: #146814;
    transition-duration: 0.5s;
  }

  .btnform2{
    padding: 15px;
    margin-top: 10px;
    width: 300px;
    text-align: center;
    background-color: #afd642;
    border: none;
    border-radius: 5px; 
    opacity: 0; 
  }

  .btnform2:hover {
    background-color: #5fa71d;
    transition-duration: 0.5s;
  }
  h2 {
    margin: 20px auto;
  }



  .fondoRespuesta {
    display: flex;
    background-color: rgba(167, 167, 167, 0.863);
    align-items:center;
    flex-direction:row;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    opacity: 0;
    
  }


  .contenedorFicha{
    
    width: 500px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
    align-items:center;
  }

  div ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
  }

  .mostrar {
    pointer-events: auto;
    opacity: 1;
    
  }



  /*------CSS DE FETCH----*/

.fondoFetch{
  display: flex;
  flex-direction: column;
  background-color: rgba(167, 167, 167, 0.863);
  align-items:center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  opacity: 0;
}

.mostrarFondoFetch{
   opacity: 1;
}

.contenedorFetch{
    
  width: 500px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.863);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  text-align: center;
  align-items:center;
}

#myProgress {
  position: relative;
  width: 400px;
  height: 30px;
  border-radius: 20px;
  background-color:#91C363;
}
#myBar {
  border-radius: 20px;
  position: absolute;
  width: 1%;
  height: 100%;
  background-color:#146814;
}